include ../mixins/avatar

header
    .header__logo
        a(href="/")
            span.site-logo Kimchi
            span.site-title Tube
    
    div.header__search
        form(method="GET" action="/search").search__form.searchForm
            input(name="keyword" type="text" placeholder="Search" required).search__input
            button(type="submit").search__submit
                i.fa-solid.fa-magnifying-glass

    nav.header__nav
        if loggedIn
            .avatar.avatar__sm.userNavBtn
                +avatar(loggedInUser)
            ul.nav__menu.userNavMenu
                li 
                    a(href=`/user/${loggedInUser._id}`) Your Channel
                li
                    a(href="/video/upload") Upload Video 
                li
                    a(href="/user/edit") Edit Profile
                li 
                    a(href="/user/logout") Logout
        else
            a(href="/login") Login 
            