div.social-login
    a(href="/oauth/github/start-login").social__btn.social__btn--github
        i.fab.fa-github
        |  Continue with Github
    a(href="/oauth/google/start-login").social__btn.social__btn--github
        i.fab.fa-google
        |  Continue with Google
    a(href="/oauth/fb/start-login").social__btn.social__btn--github
        i.fab.fa-facebook
        |  Continue with Facebook