div.social-login
    a(href="/user/github/start-login").social__btn.social__btn--github
        i.fab.fa-github
        |  Continue with Github &rarr;
    a(href="/user/google/start-login").social__btn.social__btn--github
        i.fab.fa-google
        |  Continue with Google &rarr;
    a(href="/user/fb/start-login").social__btn.social__btn--github
        i.fab.fa-facebook
        |  Continue with Facebook &rarr;