extends base


block body
    h1=pageTitle
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="oldPassword" type="password" placeholder="Old Password" required)
        input(name="newPassword" type="password" placeholder="New Password" required)
        input(name="newPasswordConfirmation" type="password" placeholder="Confirmation for New Password" required)
        input(value="Save" type="submit")