extends base


block body
    h1=pageTitle

    form(method="POST")
        input(name="title" type="text" placeholder="change title" value=video.title required)
        input(value="Save" type="submit") 