extends base

block body
    h1=video.title
    video(src="/" + video.fileUrl, controls)
    p=video.description
    hr
 

    a(href=`${video.id}/edit`) edit video
    hr
    a(href=`${video.id}/delete`) delete video
    hr
    