extends ../base
include ../mixins/video
include ../mixins/avatar

block body
    div.avatar
        +avatar(user)
    h3=user.name

    if(!!user.videos.length)
        div.video-grid
            each video in user.videos
                +video(video,videoMixinTypes.profile)
    else
        span.empty__message No video found 