extends ../base
include ../mixins/video

block body
    h1=pageTitle

    each video in user.videos
        +video(video)
    else 
        p No Videos Yet.

    //- each video in videos 
    //-     +video(video)
    //- else 
    //-     p sorry nothing found



