extends ../base
include ../mixins/video
include ../mixins/avatar

block body
    div.profile__data
        div.avatar
            +avatar(user)
        h3=user.name
    div.video-grid
        each video in user.videos
            +video(video, videoMixinTypes.profile)
        else
            span.empty__message No videos found



