extends ../base
include ../mixins/video

block body
    h1=pageTitle

    div.profile__data
        if loggedInUser.avatarUrl
            img(src=`${loggedInUser.avatarUrl.includes("://") ? "" : "/"}` + loggedInUser.avatarUrl,crossorigin).avatar
        h3=user.name
    div.video-grid
        each video in user.videos
            +video(video)
        else
            span.empty__message No videos found



