.video__container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .video__main {
    flex-grow: 2;
    & > *:not(:first-child) {
      margin-top: 40px;
    }

    video {
      border-radius: $video-border-radius;
      box-shadow: $box-shadow;
    }
  }

  .related-videos {
    max-width: 400px;
    padding-left: 20px;
  }
}

.video__data {
  display: flex;
  flex-direction: column;

  padding: 20px;
  background-color: $color-bone;
  border-radius: 20px;
  border: solid 1px $color-smokey-black;
  color: $color-smokey-black-light;
  box-shadow: $box-shadow;

  hr {
    width: 100%;
    height: 1px;
    background: $color-smokey-black;
    border: none;
  }
  & > * {
    margin-bottom: 20px;
  }

  .video__data__top {
    .video__hash-tags {
      display: flex;
      margin-bottom: 10px;
      & > li {
        color: $tag-color;
        &:not(:first-child) {
          margin-left: 5px;
        }
      }
    }
    .video__title {
      font-size: 26px;
      margin-bottom: 10px;
    }
    .video__meta-and-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .video__meta {
        font-size: 12px;
        // color: ;
      }
      .video__like__container {
        > * {
          margin-right: 10px;
        }
      }
    }
  }
  .video__data__bottom {
    .video__owner-and-description {
      display: grid;
      grid-template-areas:
        "avatar name"
        ". description";
      grid-template-columns: auto 1fr;
      gap: 10px;

      .video__owner-avatar {
        grid-area: avatar;
      }

      .video__owner-name {
        grid-area: name;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
      }

      .video__desciprtion {
        grid-area: description;
      }
    }

    .video__admin {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        margin: 5px;
        padding: 15px 20px;
        border-radius: 20px;
        border: 1px solid $color-smokey-black-light;
        background-color: white;
        transition: color 300ms ease-out, border 300ms ease-out;
        &:hover {
          color: $color-button-blue;
          border: 1px solid $color-button-blue;
        }
      }
    }
  }
}
.add-comment {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .add-comment__form {
    position: relative;
    flex-grow: 2;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    input {
      // position: relative;
      all: unset;
      width: 100%;
      padding: 5px;
      background: transparent;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid $color-bone;
      margin-bottom: 5px;
      font-size: 20px;
      color: white;
      &::placeholder {
        color: $color-bone;
      }
      &:focus {
        border-color: white;
      }
    }

    button {
      all: unset;
      opacity: 0;
      visibility: hidden;
      margin: 5px;
      padding: 15px 20px;
      border-radius: 20px;
      background-color: $color-bone;
      border: 1px solid $color-smokey-black;
      color: $color-smokey-black-light;
      cursor: pointer;
      transition: opacity ease-out 300ms, visibility ease-out 300ms;
      box-shadow: $box-shadow;
    }

    &:focus-within {
      button {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.comments__container {
  display: flex;
  flex-direction: column;
  // max-width: 520px;
  width: 100%;
  margin: 0 auto;

  .comments-total {
    margin-bottom: 10px;
  }

  .comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .comment {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      // flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      & > * {
        margin-right: 10px;
      }

      .comment__main {
        display: flex;
        flex-direction: column;

        & > * {
          margin-bottom: 10px;
        }

        .comment__buttons {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          & > * {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-lg) {
  .video__container {
    flex-direction: column;

    .video__main {
      margin-bottom: 20px;
      border-bottom: solid 1px $color-bone;
    }

    .related-videos {
      max-width: 100%;
    }
  }
}
