@keyframes updown {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-10%);
  }
  75% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * {
    flex-basis: 33.333%;
    display: flex;
    align-items: center;
  }

  .header__logo {
    color: white;
    font-size: 33px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: scaleY(1.5);

    transition: text-shadow ease-out 500ms;
    text-shadow: 0 0 5px hsl(0, 0%, 100%), 0 0 20px hsl(276, 100%, 80%),
      0 0 20px hsl(180, 100%, 50%);

    &:hover {
      text-shadow: 0 0 5px hsl(0, 0%, 100%), 0 0 20px hsl(96, 100%, 80%),
        0 0 20px hsl(0, 100%, 50%);
    }

    & > span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }

    & > span:last-child {
      // background: $red;
      padding: 3px 10px;
      border: solid 1px #fff;
      border-radius: 25%;
      overflow: hidden;

      transition: box-shadow ease-out 500ms;
      box-shadow: inset 0 0 3px hsl(0, 0%, 100%),
        inset 0 0 8px hsl(276, 100%, 80%), inset 0 0 10px hsl(180, 100%, 50%),
        //
        0 0 3px hsl(0, 0%, 100%),
        0 0 8px hsl(276, 100%, 80%), 0 0 10px hsl(180, 100%, 50%);
    }

    &:hover > span:last-child {
      box-shadow: inset 0 0 5px hsl(0, 0%, 100%),
        inset 0 0 10px hsl(96, 100%, 80%), inset 0 0 15px hsl(0, 100%, 50%),
        //
        0 0 5px hsl(0, 0%, 100%),
        0 0 10px hsl(96, 100%, 80%), 0 0 15px hsl(0, 100%, 50%);
    }
  }

  .header__search {
    justify-content: center;
  }

  .header__nav {
    justify-content: flex-end;
  }

  // .header__btn {
  //   background-color: white;
  //   color: $bg-dark;
  //   padding: 5px 10px;
  //   border-radius: 5px;
  // }
  // .header__avatar {
  //   width: 40px;
  //   height: 40px;
  //   border-radius: 50%;
  //   overflow: hidden;
  //   cursor: pointer;
  //   img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //   }
  //   .empty__avatar {
  //     width: 100%;
  //     height: 100%;
  //     background-color: $border-gray;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     text-transform: uppercase;
  //     font-size: 20px;
  //   }
  // }
}

nav {
  position: relative;
}

.nav__menu {
  z-index: 100;
  padding: 30px;
  background-color: #2f2f2f;
  border-radius: 10px;
  border: 1px solid $border-gray-light;
  min-width: 200px;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: opacity ease-out 300ms, visibility ease-out 300ms;

  &.showing {
    opacity: 1;
    visibility: visible;
  }

  li:not(:last-child) {
    margin-bottom: 30px;
  }
}
