@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(50px);
    opacity: 0;
  }
}

.message {
  z-index: 100;
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 20px 30px;
  border-radius: 20px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  border: solid 1px $color-smokey-black;
  &.error {
    &::before {
      content: "😵 ";
    }

    background-color: $color-metallic-bronze;
    color: $color-bone;
  }
  &.success {
    &::before {
      content: "😊 ";
    }

    background-color: $color-green-cyan;
    color: $color-bone;
  }
  &.info {
    &::before {
      content: "🤓 ";
    }

    background-color: $color-copper-peny;
    color: $color-bone;
  }
}
