.social-login {
  border-top: 1px solid $color-smokey-black-light;
  padding-top: 30px;
  margin-top: 30px;
  color: $color-smokey-black-light;

  & > * {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
  }
}
