// video mixin

.video-mixin,
.video-mixin-profile,
.video-mixin-related {
  .video-mixin__thumb img {
    transition: transform ease-out 300ms;
  }
  &:hover {
    .video-mixin__thumb img {
      transform: scale(1.1);
    }
  }
}

.video-mixin {
  .video-mixin__thumb {
    aspect-ratio: 1.77/1;
    border-radius: $video-border-radius;
    width: 100%;
    background-color: ivory;
    overflow: hidden;
    box-shadow: $box-shadow;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .video-mixin__data {
    margin-top: 15px;
    display: flex;

    .video-mixin__data__left {
      margin-right: 5px;
    }
    .video-mixin__data__right {
      display: flex;
      flex-direction: column;
      .video-mixin__title {
        font-size: 18px;
        display: block;
      }
      .video-mixin__meta {
        margin-top: 5px;
        font-size: 12px;
      }
    }
  }
}

// video mixin
.video-mixin-profile {
  .video-mixin__thumb {
    aspect-ratio: 1.77/1;
    border-radius: 7px;
    width: 100%;
    background-color: ivory;
    overflow: hidden;
    box-shadow: $box-shadow;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .video-mixin__data {
    margin-top: 15px;

    .video-mixin__title {
      font-size: 18px;
      display: block;
    }
    .video-mixin__meta {
      margin-top: 5px;
      font-size: 12px;
    }
  }
}

.video-mixin-related {
  display: flex;
  margin-bottom: 20px;
  > * {
    flex-basis: 50%;
  }
  .video-mixin__thumb {
    // height: 150px;
    aspect-ratio: 1.77/1;
    border-radius: $video-border-radius;
    width: 100%;
    background-color: ivory;
    overflow: hidden;
    box-shadow: $box-shadow;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .video-mixin__data {
    padding-left: 10px;
    .video-mixin__title {
      font-size: 18px;
      display: block;
    }
    .video-mixin__meta {
      margin-top: 5px;
      font-size: 12px;
    }
  }
}

@media (max-width: $screen-lg) {
  .video-mixin-related {
    .video-mixin__thumb {
      max-width: 200px;
    }
  }
}
