#videoPlayer {
  width: 100%;
  position: relative;
  display: flex;
  video {
    width: 100%;
  }
  .videoControls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.showing {
      opacity: 1;
    }
    color: $color-smokey-black-light;
    box-shadow: $box-shadow;
    align-items: center;
    border-radius: 15px;
    border: solid 1px $color-smokey-black;
    position: absolute;
    bottom: 10px;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr auto;
    gap: 10px;
    justify-content: space-between;
    background-color: $color-bone;
    padding: 10px;
    left: 0;
    box-sizing: border-box;

    input[type="range"] {
      all: unset;
      background: $track-background;
      height: $track-height;
      border-radius: 20px;
      border: $track-border;

      /***** Thumb Styles *****/
      /***** Chrome, Safari, Opera, and Edge Chromium *****/
      &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;

        background-color: $thumb-background;
        height: $thumb-size;
        width: $thumb-size;
        border-radius: $thumb-border-radius;
        border: $thumb-border;
        cursor: pointer;
      }

      /***** Firefox *****/
      &::-moz-range-thumb {
        border: $thumb-border;
        border-radius: $thumb-border-radius;
        background-color: $thumb-background;
        height: $thumb-size;
        width: $thumb-size;
        cursor: pointer;
      }
    }

    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .videoControls__playBtn {
        margin: 0px 15px;
      }
      .videoControls__time {
        font-size: 12px;
      }
    }
    .videoControls__volume {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      span {
        margin-left: 10px;
        i {
          font-size: 20px;
        }
      }
    }

    i {
      cursor: pointer;
      transition: color 300ms ease-out;
      &:hover {
        color: $color-button-blue;
      }
    }
  }
}
