extends ../base

block body
    div
        video#preview
        button#startBtn Start Recording

    if errorMessage 
        p=errorMessage
    
    form(method="POST" enctype="multipart/form-data")
        label(for="video") Video
        input(name="video" type="file" accept="video/*" required)

        input(name="title" type="text" placeholder="Title" required maxLength=30)
        input(name="description" type="text" placeholder="Description" required minLength=3)
        input(name="hashtags" type="text" placeholder="Hashtags" required)
        input(type="submit" value="Upload")

block scripts
    script(src="/static/js/recorder.js") 