mixin avatar(avatarOwner)
    if avatarOwner.avatarUrl
        img(src=isHeroku || avatarOwner.socialOnly ? avatarOwner.avatarUrl : "/" + avatarOwner.avatarUrl, crossorigin)
    else
        div.empty__avatar=avatarOwner.name[0]
        